<h3>Welcome to my blog :D</h3>
<ul>
	<% @articles.each do |article| %>
		<div class="blog-post">
			<h2 class="blog-post-title"><%= article.title %></h2>
			<%= link_to article.title, article_path(article) %>
			<%= article.body %>
		</div>
	<% end %>
</ul>


